<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="box">
    <input type="text" v-model="msg">
    <button @click="send">发布</button>
    <ul>
        <li v-for="(v,i) in arr">{{v}} <a href="javascript:;" @click="del(i)">删除</a></li>
    </ul>
</div>
</body>
<script>
    new Vue({
        el:'#box',
        data:{
            msg:'',
            arr:[]
        },
        methods:{
            send(){
                this.arr.unshift(this.msg);
                console.log(this.arr);
                this.msg=' ';
            },
            del(index){
                this.arr.splice(index,1)
            }
        }

    })
</script>
</html>